.time-bar {
    position: absolute !important;
    top: 400px !important;
    right: 20px !important;
    width: 350px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    z-index: 40;
}

.time-fill {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #FA21C5, #0BA0F4);
    transition: width 1s linear;
}