.reward-btn {
    position: absolute !important;
    top: 50px !important;
    left: 20px !important;
    background-color: #FA21C5 !important;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    z-index: 50;
    width: 200px;
}