.botao-duvida {
    position: fixed;
    top: 320px;
    right: 20px;
    background-color: #0BA0F4;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 1.5rem;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 1000;
    /* garante que apareça sobre outros elementos */
    transition: all 0.3s ease;
}

.botao-duvida:hover {
    background-color: #FA21C5;
    color: #fff;
    transform: scale(1.1);
}